extends master-dashboard 

block content
	style.
		#formBG {
			box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
			margin: 5px;
			background: white;
			width: 100%;
		}
		.mdl-textfield {
			width: 600px
		}
		.mdl-button--file input {
		cursor: pointer;
		height: 100%;
		right: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 300px;
		z-index: 4;
		}
		.mdl-textfield--file .mdl-textfield__input {
		box-sizing: border-box;
		width: 100%;
		}
		.mdl-textfield--file .mdl-button--file {
		right: 0;
		}
		.success {
			background: #61d168 !important;
			color: #ffffff !important;
			padding: 1px !important; 
			
		}
	
	div.mdl-cell.mdl-cell--12-col
		h2 Room Map Upload
		center
			form(action="./test" method="post" enctype="multipart/form-data" id="form1").mdc-form-field
				.mdl-textfield.mdl-js-textfield.mdl-textfield--file
					input#fileitem2.mdl-textfield__input(placeholder='No file chosen (Room Map)', type='text', readonly='')
					.mdl-button.mdl-button--icon.mdl-button--file
						i.material-icons attach_file
						input#ID(type='file', name='room-map', accept='.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf' onchange="document.getElementById('fileitem2').value=this.files[0].name;")
				br
				.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					input#date.mdl-textfield__input(type='text', name='from')
					label.mdl-textfield__label(for='from') From
				br
				.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					input#date.mdl-textfield__input(type='text', name='to')
					label.mdl-textfield__label(for='to') To
				br
				button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised(data-stepper-next='', data-upgraded=',MaterialButton,MaterialRipple',type="submit",form="form1")
						| Add
						span.mdl-button__ripple-container
							span.mdl-ripple
				br
			br
			if status === "success"
				.success
					h5 Success!